p {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

h1 {
    margin: 0;
    padding-bottom: 30px;
}

h3 {
    padding-bottom: 20px;
}


.pTitle {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1px;
}

.pMono {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;    
    letter-spacing: 4px;
    text-transform: uppercase;
}

.pNav {
    font-size: 18px;
    line-height: 28px;
}
