:root {
    --left-stripe-margin: 36%;
    --stripe-width: 70px;
    --stripe-gap: 30px;
    --beige: #d9d3d3;
    --dark-beige: #cfc9c9;
    --dark-gray: #a29e9e;
    --transparent: #00000000;
    --black: #000000;
    --deepBlue: #4737FF;
    --orange: #F96241;
  }

body {
    background-image: 
    linear-gradient(to right, var(--beige) 0, var(--beige) var(--left-stripe-margin), var(--dark-beige) var(--left-stripe-margin), var(--dark-beige) Calc(var(--left-stripe-margin) + var(--stripe-width)), var(--beige) Calc(var(--left-stripe-margin) + var(--stripe-width)), var(--beige) Calc(var(--left-stripe-margin) + Calc(var(--stripe-width) + var(--stripe-gap))), var(--dark-beige) Calc(var(--left-stripe-margin) + Calc(var(--stripe-width) + var(--stripe-gap))), var(--dark-beige) Calc(var(--left-stripe-margin) + Calc(var(--stripe-width) * 2 + var(--stripe-gap))), var(--dark-beige) Calc(var(--left-stripe-margin) + Calc(var(--stripe-width) * 2 + var(--stripe-gap))), var(--beige) Calc(var(--stripe-width) * 2 + var(--stripe-gap)));
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

.mainWidth {
    max-width: 1100px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    border-bottom: none;
    display: inline-block;
    width: fit-content;
    color: var(--dark-gray);
    border-bottom: 1px solid var(--transparent);
}

a:hover{
    cursor: pointer;
    border-bottom: 2px solid var(--black);
    transition: 0.2s;
    color: var(--black);
}

nav {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active {
    color: black;
}
.navBlock {
    width: 80%;
}

.navBlock a {
    margin-right: 10%;
}
.rightNav, .leftNav {
    width: 50%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
}

.leftMain, .rightMain {
    width: 50%;
}

.leftMain {
    padding: 10vh 0;
}

.textBlock {
    display: block;
    width: 444px;
}

.shareLinkBlock {
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.shareLinkBlock * {
    margin-right: 30px;
    width: 20px;
    
}

.respNav {
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-image: url(./img/burg.png);
    background-position-y: center;
    cursor: pointer;
    position: relative;
}
.blockClass {
    height: 1px;
    width: 1px;
    margin-left: -160px;
    margin-top: 30px;
    position: absolute;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.rightMain {
    position: relative;
}
.absoluteImg {
    position: absolute;
    top: 120px;
    right: -60px;
}

